.wrap {
    background: url(./sunFlower.jpg) no-repeat;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

ul {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
    position: relative;
}

.login {
    border: 1px solid white;
    border-radius: 5px;
    height: 468px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 0px;
    max-width: 768px;
    margin: auto;
    min-width: 320px;
    /*background-color: deepskyblue;*/
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 480px;
}

.loginBar {
    margin-top: 124px;
}

.loginBar ul li {
    width: 70%;
    height: 25px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
}

.text {
    position: absolute;
    margin-left: 3%;
    width: 60%;
    height: 25px;
    border: none;
    background: none;
    color: #fff;
    outline-style: none;
}

.psd {
    position: absolute;
    margin-left: 3%;
    width: 60%;
    height: 25px;
    border: none;
    background: none;
    color: #fff;
    outline-style: none;
}

input::-webkit-input-placeholder {
    color: white;
}

input:-moz-placeholder {
    color: white;
}

input::-moz-placeholder {
    color: white;
}

input:-ms-input-placeholder {
    color: white;
}

.verCode {
    position: absolute;
    right: 0;
    padding: 2px;
    padding-left: 5px;
    border-left: 1px solid white;
    bottom: 4px;
}

.btn {
    margin-left: 175px;
    margin-top: 71px;
}

.btn button {
    margin-left: 86px;
    border-radius: 20px;
    color: white;
    background-color: #4395ff;
    border: 1px solid #4395ff;
}

.loginBar .loginInput {
    margin-bottom: 101px;
}
